.same-style {
    background-color: green;
     color: white;
     font-size: 16px;
 }

 #thirdButton {
     background-color: aquamarine;
     color: yellow;
 }

 #fourthButton {
    background-color: crimson;
     color: black;
 }