* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.content {
    flex: 1;
    position: sticky;
    top: 20px; /* ტექსტი ეკრანის ზედა ნაწილში დაიკავებს 20px სივრცეს */
    padding-right: 20px;
    height: fit-content;
}

.content h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.content p {
    margin-bottom: 20px;
    font-size: 18px;
    color: #555;
}

.content button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.content button:hover {
    background-color: #0056b3;
}

.image-gallery {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
   
}

.image-gallery img {
    width: 40%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}
