* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background-image: url('https://i.pinimg.com/236x/e1/94/55/e194552f3cd20f02f4f5df63b6872ae2.jpg'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-text h1 {
    font-size: 64px;
    color: #bc1313;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    text-align: center;
}
