input {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    display: block;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: green;
}
