/* თავდაპირველი სტილი ღილაკისთვის */
button {
    background-color: #4CAF50; /* ფონდის ფერი */
    color: white; /* ტექსტის ფერი */
    padding: 10px 20px; /* padding რათა ღილაკი კარგად გამოიყურებოდეს */
    font-size: 16px; /* ტექსტის ზომა */
    border: 2px solid #4CAF50; /* ბორდერის ფერი */
    border-radius: 5px; /* გლუვი ბორდერი */
    cursor: pointer; /* მაუსის კურსორი, რომელიც აჩვენებს რომ ღილაკზე შეიძლება დაჭერა */
    transition: all 0.3s ease; /* გარდამავალი ეფექტი ყველა ცვლილებაზე */
}

/* სტილი როდესაც მაუსი ღილაკზე გადადის */
button:hover {
    background-color: #45a049; /* ფონის ფერის ცვლილება */
    color: #FFD700; /* ტექსტის ფერის ცვლილება */
    font-size: 20px; /* ტექსტის ზომის ზრდა */
    width: 200px; /* ღილაკის სიგანის ზრდა */
}

/* სტილი როდესაც ღილაკზე დაჭერით */
button:active {
    background-color: #388E3C; /* ფონის ფერის ცვლილება დაჭერის დროს */
    color: #FFEB3B; /* ტექსტის ფერის ცვლილება დაჭერის დროს */
    font-size: 24px; /* ტექსტის ზომის ზრდა დაჭერის დროს */
    height: 50px; /* სიმაღლის ცვლილება */
}
