        /* ელემენტისთვის მარტივი სტილი */
        body {
            font-family: Arial, sans-serif; /* მემკვიდრეობითობა - შვილებს მიიღებენ ამ სტილს */
            color: #333; /* მემკვიდრეობითობა */
        }

        h1 {
            color: #2E8B57; /* ეს სტილი მხოლოდ h1-ზე იქნება */
        }

        p {
            font-size: 16px; /* ეს სტილი ყველა p ელემენტზე გაიფართოვება */
        }

        div {
            background-color: lightgrey; /* div-ის შიგნით ყველა ელემენტი მიიღებს ამ ფონს */
            padding: 20px;
        }

        div p {
            color: #0000FF; /* div-ის შიგნით p ელემენტებს მიანიჭებს შიდა სტილს */
        }

        /* მემკვიდრეობითობა პრაქტიკულად გამოიყენება მხოლოდ სტილისთვის, რომელიც ტექსტს ეხება */