        /* ჩვეულებრივი ფერი */
        h1.first {
            color: blue; /* ცისფერი */
        }

        /* RGB ფერი */
        h1.second {
            color: rgb(255, 99, 71); /* ტომატის ფერი */
        }

        /* HEX ფერი */
        h1.third {
            color: #32CD32; /* მწვანე ფერი (LimeGreen) */
        }