@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", serif;
}
header{
    padding:20px 100px ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul{
    display: flex;
    /* justify-content: space-between; */
    gap: 40px;
    list-style-type: none;
    font-weight: 700;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
}
.section-header{
    display: flex;
    justify-content: space-between;
    gap: 150px ;
}
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F0EFEB;
}
#hero h1{
    font-size: 60px;
    max-width: 534px;
}
#hero p{
    font-size: 24px;
    margin-top: 20px;
    line-height:28,14px;
    width: 481px;
    font-weight: 400px;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    justify-content: start;
}
button{
    background-color: black;
    color: white;
    padding:  10px 30px;
    border-radius: 100px;
    font-size: 17px;
    cursor: pointer;
}